body{
background-image: url(img/background.jpg);
color: white;
font-family: verdana;
background-repeat: no-repeat;
background-size: 100% 100%;
}

}

#header{
font-family: verdana;
color: white;
}

nav{
color: white;
font-family: verdana;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

