body{
font-family: verdana; 
color: white; 
display: block;
text-align: center;
text-decoration: none;
padding: 10px;  
}

#header{
font-family: verdana;
color: white;
}

nav{
color: white;
margin: auto;
padding: 10px;
font-family: verdana;
}

ul {
  list-style-type: none;
  width: 75px;
  padding: 10px;
  overflow: hidden;
  background-color: purple;
  position: fixed;
}

li {
  float: left;
  display: inline;
  border-right: 1px solid white;
}
